* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #e4e3e8;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Noto Sans;
}

.header {
  background: #3c1146;
  color: #efd6f5;
  top: 0px;
  height: 200px;
  font-weight: bold;
}

#header-info {
  text-align: left;
  font-size: 125%;
}

#main-title {
  text-align: center;
  font-size: 600%;
  font-style: italic;
}

#score-header {
  text-align: center;
  font-size: 175%;
}

#checkbox-container {
  position: relative;
  margin-left: 30%;
  text-align: left;
  font-size: 275%;
}

ul {
  list-style: none;
}

#checkboxes {
  display: grid;
}

input[type="checkbox"] {
  transform: scale(2.75);
  margin: 20px;
}
