* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #e4e3e8;
  font-size: 100%;
  vertical-align: baseline;
}

.header {
  background: #3c1146;
  color: #efd6f5;
  top: 0px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#header-info {
  text-align: left;
  font-size: 125%;
}

#main-title {
  text-align: center;
  font-size: 400%;
  font-style: italic;
}

#score-header {
  text-align: center;
  font-size: 125%;
}

#checkbox-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
}

#checkboxes {
  display: grid;
  font-size: 30px;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px hotpink;
}
